<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบ</title>

    <!-- ใช้ th:href ให้ dynamic -->
    <link rel="icon" type="image/png" href="/img/Logo.png">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/login-regis.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
<div class="login-page">
    <div class="login-container">
        <div class="login-box">
            <!-- ปุ่มออก -->
            <a th:href="@{/}" class="exit-btn close-login">
                <i class="fa-solid fa-x"></i>
            </a>

            <h1>เข้าสู่ระบบ</h1>

            <!-- ฟอร์มเข้าสู่ระบบ -->
            <form th:action="@{/login}" method="post">
                <label class="login-label" for="username">ชื่อผู้ใช้</label>
                <input type="text" id="username" name="username" class="login-input" placeholder="ชื่อผู้ใช้" required>

                <label class="login-label" for="password">รหัสผ่าน</label>
                <input type="password" id="password" name="password" class="login-input" placeholder="รหัสผ่าน" required>

                <a th:href="@{/forget_password}" style="display:block; text-align:right; color:rgba(128,128,128,0.5)" >ลืมรหัสผ่าน</a>
                <br>
                <button class="login-submit-btn" type="submit" id="subBtn">เข้าสู่ระบบ</button><br>
                <a class="regis" th:href="@{/register}">ลงทะเบียนเข้าใช้งาน</a>
            </form>
        </div>
    </div>
</div>
<!-- สคริปต์ -->
<script th:src="@{/js/auth.js}"></script>

</body>
</html>